In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("water.txt", delimiter = "\t")

In [6]:
data

   location           town  mortality  hardness
0     South           Bath       1247       105
1     North     Birkenhead       1668        17
2     South     Birmingham       1466         5
3     North      Blackburn       1800        14
4     North      Blackpool       1609        18
..      ...            ...        ...       ...
56    South        Walsall       1527        60
57    South  West Bromwich       1627        53
58    South       West Ham       1486       122
59    South  Wolverhampton       1485        81
60    North           York       1378        71

[61 rows x 4 columns]

In [30]:
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic

In [69]:
mean = data["mortality"].mean()

In [70]:
std = data["mortality"].std(ddof = 1)

In [97]:
_tconfint_generic(mean_south, std_south/np.sqrt(len(data["mortality"])),
                    len(data["mortality"]) - 1,
                       0.05, 'two-sided')

(1340.8830884408667, 1412.732296174518)

In [35]:
mean_south = data[data["location"] == "South"]["mortality"].mean()

In [36]:
std_south = data[data["location"] == "South"]["mortality"].std(ddof = 1)

In [96]:
_tconfint_generic(mean_south, std_south/np.sqrt(len(data[data["location"] == "South"]["mortality"])),
                    len(data[data["location"] == "South"]["mortality"]) - 1,
                       0.05, 'two-sided')

(1320.1517462936238, 1433.463638321761)

In [54]:
mean_north = data[data["location"] == "North"]["mortality"].mean()

In [55]:
std_north = data[data["location"] == "North"]["mortality"].std(ddof = 1)

In [63]:
_zconfint_generic(mean_north,  np.sqrt(std_north**2/60), 
     0.05, 'two-sided')

(1598.9508174318498, 1668.24918256815)

In [57]:
mean_north_water = data[data["location"] == "North"]["hardness"].mean()
mean_south_water = data[data["location"] == "South"]["hardness"].mean()

In [58]:
std_south_water = data[data["location"] == "South"]["hardness"].std(ddof = 1)
std_north_water = data[data["location"] == "North"]["hardness"].std(ddof = 1)

In [99]:
_tconfint_generic(mean_north_water, std_north_water/np.sqrt(len(data[data["location"] == "North"]["mortality"])),
                    len(data[data["location"] == "North"]["mortality"]) - 1,
                       0.05, 'two-sided')

(21.42248728572426, 39.37751271427574)

In [98]:
_tconfint_generic(mean_south_water, std_south_water/np.sqrt(len(data[data["location"] == "South"]["mortality"])),
                    len(data[data["location"] == "South"]["mortality"]) - 1,
                       0.05, 'two-sided')

(53.467198692036106, 86.07126284642544)