In [25]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
data = pd.read_csv("water.txt", sep="\t", header=0)

In [6]:
data

   location           town  mortality  hardness
0     South           Bath       1247       105
1     North     Birkenhead       1668        17
2     South     Birmingham       1466         5
3     North      Blackburn       1800        14
4     North      Blackpool       1609        18
..      ...            ...        ...       ...
56    South        Walsall       1527        60
57    South  West Bromwich       1627        53
58    South       West Ham       1486       122
59    South  Wolverhampton       1485        81
60    North           York       1378        71

[61 rows x 4 columns]

In [4]:
data[["mortality", "hardness"]].corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [5]:
data[["mortality", "hardness"]].corr(method = "spearman")

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

In [7]:
data[data["location"] == "South"][["mortality", "hardness"]].corr()

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [8]:
data[data["location"] == "North"][["mortality", "hardness"]].corr()

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

In [11]:
a = 239
b = 515
c = 203
d = 718

(a*d-b*c)/np.sqrt((a+b)*(b+d)*(d+c)*(a+c))

0.10900237458678963

In [12]:
from scipy.stats import chi2_contingency

In [13]:
mc = np.array([[a, b], [c, d]])

In [14]:
chi2_contingency(mc)

(19.40753078854304,
 1.0558987006638725e-05,
 1,
 array([[198.96597015, 555.03402985],
        [243.03402985, 677.96597015]]))

In [15]:
from scipy import stats as sts

In [16]:
def count_difference(p1, p2, n1, n2, alpha = 0.05):
    left = p1 - p2 - sts.norm.isf(alpha/2)*np.sqrt(p1*(1-p1)/n1+p2*(1-p2)/n2)
    right = p1 - p2 + sts.norm.isf(alpha/2)*np.sqrt(p1*(1-p1)/n1+p2*(1-p2)/n2)
    return left, right

In [17]:
p1 = a/(a+b)
n1 = a+b
p2 = c/(c+d)
n2 = c+d

In [30]:
count_difference(p2, p1, n2, n1, alpha=0.05)

(-0.13922183141523897, -0.05390523321581314)

In [23]:
def count_s(p1, n1, p2, n2):
    P = (p1 * n1 + p2 * n2) / (n1 + n2)
    return np.sqrt(P * (1 - P) * (1 / n1 + 1 / n2))


def count_p(p1, n1, p2, n2):
    S = count_s(p1, n1, p2, n2)
    t = (p1 - p2) / S
    return 2 * (1 - stats.norm.cdf(abs(t)))

In [26]:
count_p(p1, n1, p2, n2)

8.153453089576601e-06

In [27]:
money = np.array([[197, 111, 33], [382, 685, 331], [110, 342, 333]])

In [28]:
chi2_contingency(money)

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[ 93.08597464, 153.74722662,  94.16679873],
        [381.6251981 , 630.318542  , 386.0562599 ],
        [214.28882726, 353.93423138, 216.77694136]]))

In [29]:
np.sqrt(293.68311039689746/(2*money.sum()))

0.2412013934500338