In [43]:
import pandas as pd 
from statsmodels.stats.descriptivestats import sign_test
from statsmodels.sandbox.stats.multicomp import multipletests
from collections import Counter
from scipy.stats import wilcoxon

In [2]:
data = pd.read_csv("AUCs.txt", sep = "\t", header = 0)

In [3]:
data

                 Unnamed: 0   C4.5  C4.5+m  C4.5+cf  C4.5+m+cf
0            adult (sample)  0.763   0.768    0.771      0.798
1             breast cancer  0.599   0.591    0.590      0.569
2   breast cancer wisconsin  0.954   0.971    0.968      0.967
3                       cmc  0.628   0.661    0.654      0.657
4                ionosphere  0.882   0.888    0.886      0.898
5                      iris  0.936   0.931    0.916      0.931
6           liver disorders  0.661   0.668    0.609      0.685
7               lung cancer  0.583   0.583    0.563      0.625
8              lymphography  0.775   0.838    0.866      0.875
9                  mushroom  1.000   1.000    1.000      1.000
10            primary tumor  0.940   0.962    0.965      0.962
11                    rheum  0.619   0.666    0.614      0.669
12                   voting  0.972   0.981    0.975      0.975
13                     wine  0.957   0.978    0.946      0.970

In [5]:
col = data.columns[1:]

In [67]:
sig = []
cl1 = []
cl2 = []
for i in range(len(col)):
    for j in range(len(col)):
        if j >= i:
            continue
        sig.append(wilcoxon(data[col[i]].values,data[col[j]].values).pvalue)
        cl1.append(col[i])
        cl2.append(col[j])

In [68]:
a = pd.DataFrame([])

In [69]:
a["first"] = cl1
a["second"] = cl2
a["p_val"] = sig

In [70]:
a_sorted = a.sort_values("p_val", axis = 0)

In [71]:
a_sorted

       first   second     p_val
0     C4.5+m     C4.5  0.010757
3  C4.5+m+cf     C4.5  0.015906
5  C4.5+m+cf  C4.5+cf  0.022909
2    C4.5+cf   C4.5+m  0.046333
4  C4.5+m+cf   C4.5+m  0.327826
1    C4.5+cf     C4.5  0.861262

In [72]:
reject, p_corrected, a1, a2 = multipletests(a["p_val"], 0.05, method = "holm")

In [73]:
Counter(reject)

Counter({False: 6})

In [74]:
reject, p_corrected, a1, a2 = multipletests(a["p_val"], 0.05, method = "fdr_bh")
Counter(reject)

Counter({True: 3, False: 3})